@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$blue : hsl(209, 23%, 22%);
$darkblue-1 : hsl(207, 26%, 17%);
$darkblue-2 : hsl(200, 15%, 8%);
$gray : hsl(0, 0%, 52%);
$lightgray : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);

.hidden{
    display: none;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}
// nav{
//     box-shadow: 0 8px 6px -6px black;
// }

h1,h2,h3,h4,h5{
    font-weight: 800;
}
strong{
    font-weight: bold;
}
main{
    background-color: $lightgray;
}
.country-card-content, .country-info{
    background-color: $white;
}
.country-image{
    height: 10rem;
    img{
        object-fit: cover;
    }
}
.dropdown{
    button{
        background-color: $white;
    }
    button:focus{
        outline: 0;
    }
}
#toggle_mode{
    cursor: pointer;
    i{
        font-weight: 600;
    }
    button{
        cursor: pointer;
        background: none;
        border: none;
        font-weight: 600;
    }
}
button:focus, input:focus{
    outline: 0;
}

.darkmode{
    *, input::placeholder, .dropdown-item:hover{
        color: $white;
    }
    .country-card-content, .country-info, nav, .dropdown>*, input, input:focus, .dropdown-item:hover{
        background-color: $blue;
    }
    body, main{
        background-color: $darkblue-1;
    }
}