@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$blue : hsl(209, 23%, 22%);
$darkblue-1 : hsl(207, 26%, 17%);
$darkblue-2 : hsl(200, 15%, 8%);
$gray : hsl(0, 0%, 52%);
$lightgray : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);

.hidden{
    display: none;
}
.darkmode{
    *, input::placeholder, input:focus, .dropdown-item:hover{
        color: $white;
    }
    .country-card-content, .country-info, nav, .dropdown>*, input, input:focus, .dropdown-item:hover{
        background-color: $blue;
    }
    body, main{
        background-color: $darkblue-1;
    }
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}
button, .country-card-content{
    cursor: pointer;
}
h1,h2,h3,h4,h5{
    font-weight: 800;
}
strong{
    font-weight: 600;
}


// index page
nav {
    a, a:hover {
        color: unset;
        text-decoration: none;
    }
}
main{
    background-color: $lightgray;
    min-height: 100vh;
}
.country-card-content, .country-info{
    background-color: $white;
}
.country-image{
    height: 10rem;
    img{
        object-fit: cover;
    }
}
.dropdown{
    button{
        background-color: $white;
    }
    button:focus{
        outline: 0;
    }
}
#toggle_mode{
    cursor: pointer;
    i{
        font-weight: 600;
    }
    button{
        background: none;
        border: none;
        font-weight: 600;
    }
}
button:focus, input:focus{
    outline: 0;
}


// details page
#back, .borders{
    background-color: $white;
    border: none;
    border-radius: 5px;
    height: 35px;
    color: initial;
    text-decoration: none;
    box-shadow: 0 0 5px $gray;
}
#back{
    width: 120px;
    
}